{% load static %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">

{% block content %}


<header class="container-fluid px-0 px-sm-3 py-2 border-bottom sticky-top bg-white">
    <nav class="navbar d-flex align-items-center">

        <!-- LEFT : LOGO (ALL SCREENS) -->
        <a class="navbar-brand fw-bold text-primary logo font-weight-bold " href="{% url 'home' %}">
            <span class="shopping">Shopping</span><span class="text-dark kart">Kart</span>
        </a>

        <!-- CENTER : DESKTOP ONLY -->
        <div class="d-none d-lg-flex flex-grow-1 align-items-center gap-2 px-3 overflow-hidden">

            <!-- <a href="{% url 'product' %}" class="btn btn-colors text-white m-1 py-2">
                Products
            </a> -->

            <div class="dropdown flex-shrink-0">
                <button class="btn btn-colors py-2 m-1 dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fas fa-bars me-1"></i>&nbsp;All Categories
                </button>
                <ul class="dropdown-menu ">
                    {% for cat in category %}
                    <li>
                        <a class="dropdown-item" href="{% url 'category_page' cat.pk %}">
                            {{ cat.category_name }}
                        </a>
                    </li>
                    {% empty %}
                    <li><span class="dropdown-item text-muted">No categories</span></li>
                    {% endfor %}
                </ul>
            </div>

            <form class="d-flex align-items-center flex-grow-1" style="max-width: 80%;">
                <input class="form-control  search-input flex-grow-1" type=" search" placeholder="Search">
                <button class="btn btn-colors ms-1 m-1 py-2 flex-shrink-0">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <!-- CENTER : MOBILE ONLY (AUTO WIDTH SEARCH) -->
        <form class="d-flex d-lg-none align-items-center flex-grow-1 mx-2 overflow-hidden">
            <input class="form-control flex-grow-1 search-input-1" type="search" placeholder="Search">
            <button class="btn btn-colors search-btn  ms-1 m-1 py-2 flex-shrink-0">
                <i class="fas fa-search search-icon"></i>
            </button>
        </form>

        <!-- RIGHT SECTION -->
        <div class="d-flex align-items-center gap-3">

            <!-- DESKTOP LOGIN TEXT -->
            <div class="d-none d-lg-block">
                <small>Welcome guest!</small><br>
                <a href="#">Login</a> | <a href="#">Signup</a>

            </div>

            <!-- MOBILE LOGIN ICON -->
            <a href="#" class="d-lg-none">
                <i class="fas fa-user fa-xs fa-sm-lg"></i>
            </a>

            <!-- CART (ALL SCREENS) -->
            <div class="position-relative mx-2">
                <a href="{% url 'cart_detail' %}">
                    <i class="fas fa-shopping-cart fa-lg fa-sm-lg"></i>
                    <span class="badge bg-danger position-absolute text-white translate-middle"
                        style="top:-6px; right:-10px;">
                        {{ cart_quantity }}
                    </span>
                </a>
            </div>

        </div>

    </nav>
</header>


{% endblock %}